@import "/src/assets/variable.scss";

.header {
    position: fixed;
    background-color: $black1;
    z-index: 1000;
}
.button_menu {
    position: absolute;
    padding: 0;
    width: auto;
    top: 10px;
    left: 10px;
    color: whitesmoke;
}
.button_user {
    position: absolute;
    padding: 0;
    width: auto;
    top: 10px;
    right: 10px;
    color: whitesmoke;
}
.menu_ico, .menu_ico2 {
    font-size: xxx-large;
}
.menu_ico {
    width: 40px;
}
.menu_ico2 {
    width: 50px;
}
.menu {
    left: 0;
    height: calc(100vh - 69px);
}
.menu2 {
    right: 0;
    border-radius: 0px 0px 0 8px;
}
.menu, .menu2 {
    position: fixed;
    top: 69px;
    width: 230px;
    background-color: $black1;
}
.link_ico {
    vertical-align: bottom;
    width: auto;
    font-size: xx-large;
    margin-right: 5px;
}