<div class="mx-auto pb-4 p-3 col-xl-8 col-12 border-main overflow-auto">
    <div class="row col-12 mx-auto">
        <div *ngFor="let musique of listResult; let i = index" class="row mx-auto col-3 px-2 style mx-auto">
            <span class="col-12 text-center fwt-bold click">{{musique.titre}}</span>
            <div class="col-12 p-0 position-relative text-end">
                <button class="text-white z-index1" (click)="openMenu(i)"><mat-icon>more_horiz</mat-icon></button>
                <div #miniMenu class="mini_menu" style="display: none;">
                    <button class="btn btn-dark d-flex" (click)="addPlaylist(musique, i)"><mat-icon>playlist_add</mat-icon><span>Ajouter à une playlist</span></button>
                </div>
            </div>
            <img class="col-12 p-0 pochette click" [src]="musique.pochette" (click)="open(musique)" alt="image de la pochette de la musique"/>
            <button class="col-auto px-1 text-white z-index1">{{musique.Artiste.nom}}</button>
            <span class="col text-end fst-italic click">{{convert(musique.duree)}}</span>
        </div>
    </div>
</div>