@import "/src/assets/variable.scss";

:host {
    display: block;
    padding-top: 100px;
}
.style {
    border: 2px solid snow;
    background-color: $black1;
    border-radius: 8px;
    color: snow;
    span:first-child {
        text-transform: capitalize;
    }
    align-content: flex-start;
}
div.position-relative {
    top: -20px;
}
img {
    max-height: 200px;
    border-radius: 10px;
    width: auto;
}
img.pochette {
    position: relative;
    top: -20px;
}
button {
    min-width: 40px;
}