<div class="mx-auto pb-4 p-3 col-xl-8 col-12 border-main overflow-auto">
    <h3>Recommandation</h3>
    <div class="d-flex overflow-auto">
        <div *ngFor="let musique of listMusiques; let i = index" class="row mx-auto col-3 px-2 style mx-auto">
            <span class="col-12 text-center fwt-bold click" (click)="lecture(musique)">{{musique.titre}}</span>
            <div class="col-12 p-0 position-relative text-end">
                <button class="text-white z-index1" (click)="openMenu(i)"><mat-icon>more_horiz</mat-icon></button>
                <div #miniMenu class="mini_menu" style="display: none;">
                    <button class="btn btn-dark d-flex" (click)="addPlaylist(musique, i)"><mat-icon>playlist_add</mat-icon><span>Ajouter à une playlist</span></button>
                </div>
            </div>
            <div class="col-12 p-0">
                <img class="mx-auto d-block click pochette mx-auto" [src]="musique.pochette" (click)="lecture(musique)" alt="image de la pochette de la musique"/>
            </div>
            <button class="col-auto px-1 text-white z-index1 fs-7" (click)="openArtiste(musique.Artiste)">{{musique.Artiste.nom}}</button>
            <span class="col text-end fst-italic click fs-7" (click)="lecture(musique)">{{convert(musique.duree)}}</span>
        </div>
    </div>
    <h3>Styles</h3>
    <div class="d-flex col-12 mx-auto">
        <div *ngFor="let style of listStyles" class="row mx-auto col-3 text-center style click" (click)="openStyle(style)">
            <span class="fst-italic col-12">{{style.nom}}</span>
            <img [src]="style.image" class="mx-auto p-0" alt="image du style de musique"/>
        </div>
    </div>
</div>