@import "/src/assets/variable.scss";

:host {
    display: block;
    padding-top: 100px;
}
div.position-relative {
    top: -20px;
}
img {
    max-height: 200px;
    border-radius: 10px;
    width: auto;
}
img.pochette {
    position: relative;
    top: -20px;
}
button {
    min-width: 40px;
}