<div class="row col-12 mx-auto">
    <h1 class="text-center">Nouvelle Playlist</h1>
    <button class="close" (click)="closeClick()"><mat-icon>close</mat-icon></button>
    <span class="my-2">Nom</span>
    <input type="text" [(ngModel)]="nom" class="form-control mx-4 col">
    <span class="my-2">Description</span>
    <textarea [(ngModel)]="description" cols="30" rows="10" class="form-control mx-4 col"></textarea>
    <div class="row col-12 mt-5 mx-auto">
        <button class="col-4 btn mx-auto btn-outline-danger" (click)="closeClick()">Annuler</button>
        <button class="col-4 btn mx-auto btn-info text-white" (click)="createPlaylist()">Créer</button>
    </div>
</div>