textarea {
    resize: none;
}
.col-xl-11 {
    width: 91.66666667% !important;
}
.preview {
    width: 60px;
    position: absolute;
    margin-top: 35px;
    margin-left: -10px;
}
img {
    max-height: 15vh;
}