@import "assets/variable.scss";
@import "node_modules/ngx-toastr/toastr.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.border-main {
    position: relative;
    border-radius: 8px;
    box-shadow: 20px 20px rgba(0, 0, 0, .15);
    transition: all .4s ease;
    background-color: rgba(0, 0, 0, 0.25);
}
.border-main {
    height: calc(100vh - 180px);
}
.border-main:hover {
    border-radius: 8px 8px 8px 8px/ 8px 8px 8px 8px;
    box-shadow: 10px 10px $black1;
}
button {
    background: transparent;
    border: none;
}
a {
    text-decoration: none;
}
.mat-icon {
    height: auto !important;
}
.nowrap {
    white-space: nowrap;
}
.top-5 {
    top: 5px;
}
.close {
    width: 38%;
}
.close2 {
    width: 78%;
}
.close, .close2 {
    position: absolute;
    text-align: end;
}
.click, a {
    cursor: pointer;
}
.z-index {
    z-index: 1000;
}
.z-index1 {
    z-index: 100;
}
.item_image {
    max-height: 35vh;
    width: auto;
    margin: auto;
    border-radius: 20px;
}
@-moz-document url-prefix() {
    .overflow-auto {
        scrollbar-width: thin;
        scrollbar-color: $scroll-bar-color transparent;
    }
}
.overflow-auto::-webkit-scrollbar {
    background-color: transparent;
    width: 16px;
}
.overflow-auto::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
    border-radius: 8px;
    background-clip: padding-box;
    border: 4px solid transparent;
}
.capitalise {
    text-transform: capitalize;
}
.style {
    border: 2px solid snow;
    background-color: $black1;
    border-radius: 8px;
    color: snow;
    span:first-child {
        text-transform: capitalize;
    }
    align-content: flex-start;
}
.mini_menu {
    background-color: rgb(39, 39, 39);
    position: absolute;
    width: fit-content;
    display: flex;
    top: -4px;
    right: -2px;
    width: max-content;
    padding: 4px;
    border-radius: 8px;
    z-index: 1;
}
.fs-7 {
    font-size: small;
}